.todo{

    &__form{     
        width: 100%;
        display: flex;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 15px;       
      
    }

    &__input{     
        width: 70%;
        font-weight: 400;
        font-size: 16px;
        line-height: 14px;
        color: #000;
        outline: none;
        background: #DBE2EF;
        border: 1px solid rgba(177, 177, 177, 0.4);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        transition: all .4s ease;
        padding: 10px 15px;
        height: 32px;
        
        &::placeholder{
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            color: #7B7B7B;
        }

        &:focus{
            width: 100%;
            border-color: green;
        }

    }

    &__btn{
        width: 45px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #3F72AF;
        border-radius: 0px 5px 5px 0px;
        outline: none;
        border: none;
        cursor: pointer;

    }


}